.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: #FFF9F9;
    flex-wrap: wrap; // Cho responsive
  
    .logo {
      width:60px;
    }
  
    .nav-links {
      display: flex;
      gap: 50px;
  
      a {
        text-decoration: none;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: #000;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: none;
        &:hover {
          font-weight: 500;
        }
      }
    }
  
    .auth-buttons {
      display: flex;
      gap: 12px;

      a {
        text-decoration: none;
      }
  
      .register {
        background-color: black;
        color: white;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 999px;
        border: none;
        cursor: pointer;
      }
  
      .login {
        background-color: #ff2d55;
        color: white;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 999px;
        border: none;
        cursor: pointer;
      }
    }
  
    // Responsive
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
  
      .nav-links {
        flex-wrap: wrap;
        gap: 12px;
      }
  
      .auth-buttons {
        align-self: flex-end;
      }
    }
  }
  